/* NavBar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-initials {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }
  
  .active {
    font-weight: bold;
  }
  
  